<!DOCTYPE html>
<!--
 #Team Untitled - Jonathan W. , Liesel W. , Loki , King Hagrid
#SoftDev
#K12 -- ...or The Only Constant is Change?/exploring jinja2/tryign to
#figure out what pieces of the code inside the app.py file mean
# 2021-10--07
 -->

<html>

  <head>
    <title> {{ foo }} </title>
  </head>

  <body>
    <h2>Picking a random occupation based on their weighted percentages!!</h2>
    <h2>Team King Mlob</h2>
    {% for item in collection %}
     {{ item }}
     <br>
    {% endfor %}
  </body>

</html>
